/* Path: themes\light.css */

/* Define colors for the light theme */
:root {
    --color-primary: #3f51b5;
    --color-primary-rgb: 63, 81, 181;
    --color-primary-contrast: #fff;
    --color-primary-contrast-rgb: 255, 255, 255;
    --color-primary-shade: #364495;
    --color-primary-tint: #4c5ab2;
